* {
  font-family: sans-serif;
  box-sizing: border-box;
  --box-padding: 20px;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  margin: 0;
}

body > * {
  flex: 1 0 300px;
  min-width: min(500px, 90vw);
}

main {
  background: linear-gradient(to right, hsl(180deg, 10%, 80%), white);
  margin: calc(var(--box-padding) / 2);
}

.hero {
  background-image: url("img/dice1.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  padding: var(--box-padding);
}

h1 {
  font-family: Metamorphous;
}

h2 {
  margin-top: 0;
}

h1 {
  background-color: rgb(255 255 255 / 70%);
  text-align: center;
  padding: var(--box-padding);
}

.rounded {
  border-radius: 10px;
}

.tall {
  height: calc(100vh - var(--box-padding));
}

.catcher {
  font-size: 1.8rem;
  font-weight: 700;
  margin: var(--box-padding)
}

.form-container {
  background-color: white;
  margin-top: 80px;
  padding: var(--box-padding);
  box-shadow: 0 10px 50px 10px grey;
}

form {
  display: flex;
  flex-flow: row wrap;
  gap: 20px 40px;
}

.input-container > * {
  display: block;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  font-weight: 500;
  letter-spacing: 5%;
}

input {
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 10px;
}

input:valid{
  background-color: hsl(120, 41%, 84%);
}

input[type="password"]:invalid {
  border: 1px solid red;
}

button[type="submit"] {
  padding: 15px 20px;
  background:linear-gradient(to right, #BF953F, #ecbd55, #FBF5B7);
  border: 2px solid black;
  font-size: 1rem;
  font-weight: 600;
}

button[type="submit"]:hover {
  background:linear-gradient(to left, #BF953F, #e6b54e, #FBF5B7);
}

.after-form {
  margin: 30px auto 30px 20px;
}

.after-form a {
  font-weight: 600;
}

@media only screen and (max-width: 640px) {
  .tall {
    height:fit-content ;
  }
}
