* {
  font-family: sans-serif;
  box-sizing: border-box;
  --box-padding: 20px;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

body > main , body > header{
  flex: 1 0 250px;
  padding: var(--box-padding);
}

main {
  background: linear-gradient(to right, hsl(180deg, 10%, 90%), white);
  padding: var(--box-padding);
  box-sizing: border-box;
}

.hero {
  background-image: url("img/dice1.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(2rem + 2vw);
}

h1 {
  background-color: rgb(255 255 255 / 70%);
  text-align: center;
  padding: var(--box-padding);
}

.rounded {
  border-radius: 10px;
}

.tall {
  height: calc(100vh - var(--box-padding));
}

.catcher {
  font-size: 1.8rem;
  font-weight: 700;
}
